{
    META = {
        contextScope = {
            host = "/dziman|dziman\\.(.*)|localhost|localhost\\.(.*)/";
        };
    };

    enableClientAuthentication = true;

    "trustStore+" = {
        password = "Apple123";
    };

    "serverKeyStore+" = {
        password = "Apple123$%";
    };

    "clientKeyStore+" = {
        alias = "dziman.apple.com-as-client";
        password = "Apple123$%";
    };
}
