{
	META = {
		contextScope = {
			host = "/dziman|dziman\\.(.*)|localhost|localhost\\.(.*)/";
		};
	};

	"connectors+" = {
		"secure+" = {
		  clientAuthLevel = 1;
		  secure = false;
		    disabledHttpMethods = ();
		    requiresAuth = false;
		};
		"primary+" = {
		  secure = false;
		  disabledHttpMethods = ();
		    requiresAuth = false;
		};
        "health-" ={};
        "admin-" ={};
	};
}
