{
	META = {
		contextScope = {
			app = "/.*/";
			host = "/dziman|dziman\\.(.*)|localhost|localhost\\.(.*)/";
		};
	};

	"connectors+" = {
		"secure+" = {
		  clientAuthLevel = 1;
		  secure = false;
		  disabledHttpMethods = ();
		};
		"primary+" = {
		  secure = false;
		  disabledHttpMethods = ();
		};
		"admin+" = {
		  secure = false;
		  disabledHttpMethods = ();
		};
	};
}
