{
    META = {
        contextScope = {
            app = "ASPEN";
            user = "dziman";
        };
    };

    "STOREFRONT_HOST+" = {
      "parameter+" = {
        value = "dziman.apple.com";
      };
    };

PICKUP_PARAMETERS = {
        parameters = (
            {
                name = location;
                type = String;
                form = location;
            },
            {
                name = store;
                type = String;
                form = store;
            },
            {
                name = lineItemId;
                type = List;
                form = id;
            },
            {
                name = purchaseOptions;
                type = List;
                form = purchaseOption;
            },
            {
                name = options;
                type = List;
                form = option;
            },
            {
                name = cppart;
                type = List;
                form = cppart;
            },
            {
                name = storeSearch;
                type = Boolean;
                form = search;
                value = false;
            },
            {
                name = gifting;
                type = Boolean;
                form = gifting;
                value = false;
            },
            {
                name = searchNearby;
                type = Boolean;
                form = searchNearby;
                value = false;
            },
            {
                name = little;
                type = Boolean;
                form = little;
                value = false;
            },
        );
    };

    // Store Pickup Availability of a product(s) on retail stores
    pickupMessage = {
        url = "<PREFIX>/retail/pickup-message";

        parameters = (
           "<PICKUP_PARAMETERS>",
            {
                name = partNumbers;
                type = List;
                form = parts;
            },
            {
                name = pl;
                type = Boolean;
                form = pl;
                value = false;
            },
           "<PURCHASE_OPTION>",
        );

        dispatch = {
            controller = "applePickupController";
            method = getPickupMessage;
        };
    };

        contentPersonalization = {
            url = "<PREFIX>/personalization";
            parameters = (
                {
                    name = "mZones";
                    type = "List";
                    form = "mz";
                },
                {
                    name = "product";
                    type = "List";
                    form = "pr";
                },
                {
                    name = "acs";
                    type = "Integer";
                    form = "acs";
                },
                {
                    name = "acins";
                    type = "Boolean";
                    form = "acins";
                }
            );
            dispatch = {
                controller = mZonePersonalizationController;
                method = getPersonalizationForMZones;
            };
        };

        fulfillmentMessage = {
                url = "<PREFIX>/fulfillment-messages";
                parameters = (
                   "<PICKUP_PARAMETERS>",
                    {
                        name = partNumbers;
                        type = List;
                        form = parts;
                    },
                    {
                        name = "postalCode";
                        type = "String";
                        form = "postalCode";
                    },
                    {
                        name = "state";
                        type = "String";
                        form = "state";
                    },
                    {
                        name = "district";
                        type = "String";
                        form = "district";
                    },
                    {
                        name = "city";
                        type = "String";
                        form = "city";
                    },
                    {
                        name = "gifting";
                        type = "String";
                        form = "gifting";
                    },
                    {
                        name = geoLocated;
                        type = String;
                        form = geoLocated;
                    },
                    {
                        name = disableIDL;
                        type = Boolean;
                        form = disableIDL;
                        value = false;
                    },
                    {
                        name = ft;
                        type = String;
                        form = ft;
                    },
                    {
                        name = "messageType";
                        type = "String";
                        form = "mt";
                    },
                    {
                        name = "messageTypes";
                        type = "List";
                        form = "mts";
                    },
                    {
                        name = pl;
                        type = Boolean;
                        form = pl;
                        value = false;
                    },
                    {
                        // if provided as url param without searchNearby=true, tries to find a single store nearby where product is available
                        name = filterTopAvailableStore;
                        type = Boolean;
                        form = fts;
                    },
                    "<OPTIONS>",
                    "<CARRIER_POLICY_PRODUCT>",
                    "<CARRIER_POLICY_TYPE>",
                    "<PURCHASE_OPTION>",
                );

                dispatch = {
                    controller = fulfillmentMessageController;
                    method = getFulfillmentMessage;
                };
            };

}
