[user]
	name = Dzmitry Rusak
	email = dzmitry.rusak@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
#	editor = /Applications/TextMate.app/Contents/Resources/mate -w
	editor = emacsclient -t
	excludesfile = /Users/dziman/.gitignore
	autocrlf = input
[alias]
	# edit last commit message
	ed = commit --amend
	# show log in pretty view
	lg = log --color --graph --date=local --pretty=format:'%C(red)%h%Creset - %C(green)(%ci%x08%x08%x08%x08%x08%x08) %C(bold blue)%<(20)%an%Creset %C(yellow)%d%Creset %s' --abbrev-commit
	lgs = "!git lg -10"
	lgl = "!git lg -30"
	lgf = "!git lg --numstat"
	lgsf = "!git lgs --numstat"
	lglf = "!git lgl --numstat"
	# show files changed in commit
	df = diff-tree --no-commit-id --name-only -r
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
