# Dotfiles git repo
~/.dziman-dotfiles

# macOS
.DS_Store

# IDEA
*.iml
.idea

# Xcode
xcuserdata/
project.xcworkspace/xcuserdata/

# Emacs specific
*~
\#*#
.#*
.ensime
.ensime_cache

# Python virtual environment
venv/
